<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Cellar</title>
</head>
<body>
    <div class="main">
        <h1>Welcome to the cellar...</h1>
        <a href="/inputWine">Add a wine?</a>
        <div class="dynamic">
            <ul>
                <%for(let wine of allWine){%>
                <a href="/<%=wine._id%>">
                    <li><%= wine.name%> </li>
                </a>
                <%}%>   
            </ul>
        </div>

    </div>

</body>
</html>
